{% extends "base.html" %}
{% load static %}
{% load myfilter %}

{% block meta %}

<meta property="og:title" content="{{ title }}" />
<meta name="description" content="Vous trouverez dans cette page la liste des ouvrages proposés par la coach pour votre transformation" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/logo_site_vie_reussie.jpeg' %}" />
<meta property="og:image:alt" content="Image de : {{ post.title }}" />
<!-- <meta property="og:video" content="https://example.com/movie.swf" /> -->
<!-- <meta property="og:video:secure_url" content="https://secure.example.com/movie.swf" />       -->

{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'ebook/style.css' %}">
<div class="head-block">
    <h1>Super vous-y êtes !</h1>
    <p>Plongez dans un univers de savoir et d'inspiration à travers notre vaste sélection de livres qui couvrent une multitude de sujets tels que l'intelligence financière, le développement personnel, la confiance en soi, l'intelligence émotionnelle, l'art oratoire et bien plus encore.</p>
</div>
<main class="main-ebook">
    {% for category in post_category_list %}
    <div class="ebook-category-name-div">
        <h2>Nos livres sur</h2>
        <h2 class="ebook-category-name">{{ category.name }}</h2>
    </div>
    <div class="ebook-collection">
        {% for ebook in ebooks %}
        {% if ebook.category == category %}
        <a href="{% url 'ebook:detail' ebook.id %}" class="uk-box-shadow-small ebook-card">
            <div class="ebook-image" style="background-image: url('{{ ebook.illustration_image.url }}');">

            </div>
            <div class="details">
                <label>{{ ebook.title }}</label>
                <hr>
                <p>
                    {{ ebook.subtitle }}
                </p>
            </div>
            <div class="price-badge"><s class="normal_price">{{ ebook.normal_price }} XAF</s>|<div class="promo_price">
                    {{ ebook.promo_price }} XAF</div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    {% empty %}
    <p>Aucun ouvrage disponible</p>
    {% endfor %}

</main>

{% endblock %}