
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Désinscription réussie</title>
    <link rel="stylesheet" href="{% static 'newsletter/unsubscribe_success.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
   
<main>
    <h2>Vous êtes bien désinscrit de notre newsletter.</h2>

<p>
    

Nous sommes désolés de vous voir partir, mais nous respectons votre choix.

Vous ne recevrez plus d'e-mails de notre part.
</p>
<a href="/">VISITER NOTRE SITE</a>
</main>
</body>
</html>