{% extends "base.html" %}
{% load static %}
{% load myfilter %}

{% block meta %}

<meta property="og:title" content="{{ title }}" />
<meta name="description"
    content="Vous trouverez dans cette page toutes les formations vidéos recommandés par la Coach pour votre transformation" />
<meta property="og:image" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
<meta property="og:image:secure_url" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
<meta property="og:image:alt" content="Le logo du site" />

{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'formation/style.css' %}">
<div class="head-block">
    <h1>Transformez votre vie et développez votre plein potentiel</h1>
    <p>Vous êtes prêt à transformer votre vie et à développer votre plein potentiel ? Nos formations vidéo sont conçues
        pour vous aider à atteindre vos objectifs et à vivre la vie que vous rêvez.</p>
</div>
<main class="main-formation">

    {% for category in formation_category_list %}
    <div class="formation-category-name-div">
        <div>
            <h2>Notre pack</h2>
            <h2 class="formation-category-name">{{ category.name }}</h2>
        </div>
        <div></div>
    </div>
    <hr>
    <div class="ebook-collection">
        {% for formation in formations %}
        {% if formation.category == category %}
        <!-- <label>{{ formation.illustration_image.url }}</label> -->

        <a href="{% url 'formation:detail' formation.id %}" class="uk-card formation-card">
            <div class="formation-sous-card">
                <div class="formation-image-div">
                    <img src="{{ formation.illustration_image.url }}" alt="">
                </div>
                <div class="formation-card-body">
                    <h3 class="formation-card-title">{{ formation.title }}</h3>
                    <p class="formation-card-subtitle">{{ formation.subtitle }}</p>
                    <hr>
                    <button class="see-more-btn">
                        <span>En savoir plus</span>
                        <svg width="15px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </button>

                </div>
            </div>
        </a>

        {% endif %}
        {% endfor %}
    </div>
    {% empty %}
    <p>Aucune formation disponible pour moment</p>
    {% endfor %}
</main>

{% endblock %}