{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'auth/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/uikit.css' %}">
    <script src="{% static 'js/uikit.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    {% block title %}
    <title>Connexion</title>
    {% endblock title %}
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>
        UIkit.notification({ message: '{{ message }}', status: 'success' })
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>
        UIkit.notification({ message: '{{ message }}', status: 'danger' })
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <script>
        UIkit.notification({ message: '{{ message }}', status: 'warning' })
    </script>
    {% else %}
    <script>
        UIkit.notification({ message: '{{ message }}', status: 'primary' })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
     <section class="container">
            <div class="wave"></div>
          </section>
    <main>
       

        {% block content %}

        {% endblock content %}
    </main>
</body>

</html>