{% extends "auth/base.html" %}
{% load static %}

{% block meta %}

<meta property="og:title" content="{{ title }}" />
<meta name="description"
    content="Page de création de compte du site de coaching et développement personnel: Vie de réussite" />
<meta property="og:image" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
<meta property="og:image:secure_url" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
<meta property="og:image:alt" content="Le logo du site" />

{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'auth/register.css' %}">

<div class="form-div">
    {% if next %}
    <form class="form" method="post" action="{% url 'auth:register' %}?next={{ next }}">

        {% else %}
        <form class="form" method="post" action="{% url 'auth:register' %}">

            {% endif %}

            {% csrf_token %}
            <p class="title">Création de compte </p>
            <!-- <p class="message">Signup now and get full access to our app. </p> -->
            <div class="flex">
                <label>
                    <input class="input" type="text" name="firstname" placeholder="" required>
                    <span>Nom</span>
                </label>

                <label>
                    <input class="input" type="text" placeholder="" name="lastname">
                    <span>Prénom</span>
                </label>
            </div>

            <label>
                <input class="input" type="email" placeholder="" required name="email">
                <span>Email</span>
            </label>

            <label>
                <input class="input" type="password" placeholder="" required name="password">
                <span>Mot de passe</span>
            </label>
            <label>
                <input class="input" type="password" placeholder="" required name="password1">
                <span>Confirmer le mot de passe</span>
            </label>
            <button class="submit">Créer mon compte</button>
            {% if next %}
            <p class="signin">Vous avez déjà un compte ? <a href="{% url 'auth:login' %}?next={{ next }}">Connexion</a>
            </p>

            {% else %}
            <p class="signin">Vous avez déjà un compte ? <a href="{% url 'auth:login' %}">Connexion</a> </p>

            {% endif %}

        </form>
</div>

{% endblock %}