
{% extends "auth/base.html" %}
{% load static %}

    {% block meta %}

    <meta property="og:title" content="{{ title }}" />
    <meta name="description" content="Page de réinitialisation du mot depasse | Site Vie de réussite" />
    <meta property="og:image" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
    <meta property="og:image:secure_url" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
    <meta property="og:image:alt" content="Le logo du site" />

    {% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'auth/reset_password.css' %}">

<div class="form-div">
    {% if next %}
    <form class="form" action="{% url 'auth:reset' %}?next={{ next }}" method="post">
    {% else %}
    <form class="form" action="{% url 'auth:reset' %}" method="post">
      
    {% endif %}
    
        {% csrf_token %}
        <div class="header">Mot de passe oublié</div>
        <div class="inputs">
            <input placeholder="Entrez votre email" class="input" type="email" name="email">
        <button class="sigin-btn" type="submit">Envoyer le lien de réinitialisation</button>
        <div class="forget-return-div">
            {% if next %}
        <a class="return" href="{% url 'auth:login' %}?next={{ next }}">Page de connexion</a>
              
            {% else %}
        <a class="return" href="{% url 'auth:login' %}">Page de connexion</a>
              
            {% endif %}
            
        </div>
        </div>
    </form>
</div>

{% endblock %}