{% extends "profil/base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'profil/formation.css' %}">

<div class="main-div">
  <h1>
    <svg height="40" width="40" xmlns="http://www.w3.org/2000/svg" fill="var(--color3)" viewBox="0 0 24 24">
      <path fill-rule="evenodd"
        d="M4.9 3C3.9 3 3 3.8 3 4.9V9c0 1 .8 1.9 1.9 1.9H9c1 0 1.9-.8 1.9-1.9V5c0-1-.8-1.9-1.9-1.9H5Zm10 0c-1 0-1.9.8-1.9 1.9V9c0 1 .8 1.9 1.9 1.9H19c1 0 1.9-.8 1.9-1.9V5c0-1-.8-1.9-1.9-1.9h-4Zm-10 10c-1 0-1.9.8-1.9 1.9V19c0 1 .8 1.9 1.9 1.9H9c1 0 1.9-.8 1.9-1.9v-4c0-1-.8-1.9-1.9-1.9H5Zm10 0c-1 0-1.9.8-1.9 1.9V19c0 1 .8 1.9 1.9 1.9H19c1 0 1.9-.8 1.9-1.9v-4c0-1-.8-1.9-1.9-1.9h-4Z"
        clip-rule="evenodd" />
    </svg> Les formations que vous avez acheté
  </h1>
  <hr>
  {% if formations %}
  {% for formation in formations %}
  <article class="one-formation-card">
    <div class="one-formation-card-header">
      <h4>{{ formation.title}}</h4>
      <div class="formation-info-line">
        <span>
          <svg height="40" width="40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="var(--color3)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg> {{ formation.course_duration }} heures
        </span>
        <span>
          <svg height="40" width="40" xmlns="http://www.w3.org/2000/svg" fill="var(--color3)" viewBox="0 0 24 24">
            <path fill-rule="evenodd"
              d="M2 6c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6Zm5 2a1 1 0 0 0 0 2 1 1 0 1 0 0-2Zm4 0a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-4 3a1 1 0 1 0 0 2 1 1 0 1 0 0-2Zm4 0a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-4 3a1 1 0 1 0 0 2 1 1 0 1 0 0-2Zm4 0a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Z"
              clip-rule="evenodd" />
          </svg>
          {{ formation.video_count }} vidéos
        </span>
      </div>
    </div>
    <!-- <hr> -->
    <a href="{% url 'profil:detail' formation.id %}">Regarder la formation<svg height="20" width="20"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m7 16 4-4-4-4m6 8 4-4-4-4" />
      </svg></a>
  </article>
    {% endfor %}
    {% else %}
    <p class="no-formation-p"><svg height="30" width="30" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24">
        <path stroke="var(--color3)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 11h2v5m-2 0h4m-2.6-8.5h0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>Vous n'avez pas encore acheté une formation pour le moment <a href="{% url 'formation:index' %}">Parcourir
        nos différentes formations</a></p>
    {% endif %}
        {% include "profil/component/footer.html" %}

</div>
{% endblock content %}