{% load static %}
{% load myfilter %}
<link rel="stylesheet" href='{% static "profil/component/left_side_bar.css" %}'>
<script>
    UIkit.util.on('#js-modal-confirm', 'click', function (e) {
           e.preventDefault();
           e.target.blur();
           UIkit.modal.confirm('UIkit confirm!').then(function () {
            //    console.log('Confirmed.')
           }, function () {
            //    console.log('Rejected.')
           });
       });
</script>
<div class="logo-div">
    <a href="/" >
        <img src="{% static 'images/logo_site_vie_reussie.jpeg' %}" alt="">
    </a>
</div>
<div class="left-section-content">
    <ul class="action-ul">
        <!-- <li class="{{ current_tab|filter_selected:'home' }}-tab">
          <a href="{% url 'profil:index' %}"><svg height="30" width="30" xmlns="http://www.w3.org/2000/svg" fill="var(--color3)" viewBox="0 0 24 24">
            <path d="M11.3 3.3a1 1 0 0 1 1.4 0l6 6 2 2a1 1 0 0 1-1.4 1.4l-.3-.3V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3c0 .6-.4 1-1 1H7a2 2 0 0 1-2-2v-6.6l-.3.3a1 1 0 0 1-1.4-1.4l2-2 6-6Z" clip-rule="evenodd"/>
          </svg>Accueil</a></li> -->
        <li class="{{ current_tab|filter_selected:'formation' }}-tab"><a href="{% url 'profil:formation' %}"><svg height="30" width="30" xmlns="http://www.w3.org/2000/svg" fill="var(--color3)" viewBox="0 0 24 24">
            <path d="M19 3a2 2 0 0 1 2 2v2h-2V5.4L17.4 7h-2.8l2-2h-2.2l-2 2H9.6l2-2H9.4l-2 2H3V5c0-1.1.9-2 2-2h14ZM3 9v10c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2V9H3Zm2-2.4L6.6 5H5v1.6ZM9.6 11a1 1 0 0 1 1 .1l4 3a1 1 0 0 1 0 1.6l-4 3A1 1 0 0 1 9 18v-6c0-.4.2-.7.6-.9Z" clip-rule="evenodd"/>
          </svg>Mes formations</a></li>
        <li class="{{ current_tab|filter_selected:'ebook' }}-tab"><a href="{% url 'profil:ebook' %}"><svg height="30" width="30" xmlns="http://www.w3.org/2000/svg" fill="var(--color3)" viewBox="0 0 24 24">
            <path d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2c.6 0 1-.4 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z" clip-rule="evenodd"/>
          </svg>Mes livres</a></li>
          
    </ul>
    <a href="#modal-deconnexion"  uk-toggle class="bottom-log-out-btn"><svg height="30" width="30" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="var(--color3)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
      </svg>
      Déconnexion</a>
      <div id="modal-deconnexion" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Déconexion</h2>
            <p>Vous êtes sûr de vouloir vous déconnecter ?</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                <!-- <button class="uk-button uk-button-primary" type="button">Save</button> -->
                <a class="deconnexion-confirm-btn" href="{% url 'auth:logout' %}">Me déconnecter</a>
            </p>
        </div>
    </div>
</div>