{% load static %} {% load myfilter %}

<link rel="stylesheet" href="{% static 'blog/comment.css' %}" />

<div class="one_post_comment_element">
  <div class="one_post_comment_element_head">
    <div class="one_post_comment_element_head_left">
      {% if comment.author.profil_image %}
      <div
        class="one_post_comment_author_profil"
        style="background-image: url('{{ comment.author.profil_image.url }}');"
      ></div>
      {% else %}
      <svg
        uk-toggle="target: #offcanvas-flip"
        height="50"
        width="50"
        xmlns="http://www.w3.org/2000/svg"
        fill="var(--second-color2)"
        viewBox="0 0 24 24"
      >
        <path
          fill-rule="evenodd"
          d="M12 20a8 8 0 0 1-5-1.8v-.6c0-1.8 1.5-3.3 3.3-3.3h3.4c1.8 0 3.3 1.5 3.3 3.3v.6a8 8 0 0 1-5 1.8ZM2 12a10 10 0 1 1 10 10A10 10 0 0 1 2 12Zm10-5a3.3 3.3 0 0 0-3.3 3.3c0 1.7 1.5 3.2 3.3 3.2 1.8 0 3.3-1.5 3.3-3.3C15.3 8.6 13.8 7 12 7Z"
          clip-rule="evenodd"
        />
      </svg>
      {% endif %}

      <div class="one_post_comment_head_title">
        <h5>{{ comment.author.get_full_name }}</h5>
        <p>{{ comment.created_at|date:"l, d F à H:i" }}</p>
      </div>
    </div>
    <a class="comment_reply_div" href="#modal-comment-reply" uk-toggle>
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M14.502 7.046h-2.5v-.928a2.122 2.122 0 0 0-1.199-1.954 1.827 1.827 0 0 0-1.984.311L3.71 8.965a2.2 2.2 0 0 0 0 3.24L8.82 16.7a1.829 1.829 0 0 0 1.985.31 2.121 2.121 0 0 0 1.199-1.959v-.928h1a2.025 2.025 0 0 1 1.999 2.047V19a1 1 0 0 0 1.275.961 6.59 6.59 0 0 0 4.662-7.22 6.593 6.593 0 0 0-6.437-5.695Z"
        />
      </svg>
    </a>
    <!-- </div> -->
  </div>
  <p>{{ comment.content }}</p>
  {% comment %}
  <hr />
  {% endcomment %}
</div>
<div id="modal-comment-reply" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <form
      action="{% url 'blog:reply' comment.id %}"
      method="post"
      class="add_comment_div"
    >
      {% csrf_token %}

      <div class="add_comment_div_top">
        {% if request.session.user_profile.profil_image %}
        <div
          class="add_comment_div_top_author"
          style="background-image: url('{{ request.session.user_profile.profil_image }}');"
        ></div>
        {% else %}
        <svg
        uk-toggle="target: #offcanvas-flip"
        height="50"
        width="50"
        xmlns="http://www.w3.org/2000/svg"
        fill="var(--second-color2)"
        viewBox="0 0 24 24"
      >
        <path
          fill-rule="evenodd"
          d="M12 20a8 8 0 0 1-5-1.8v-.6c0-1.8 1.5-3.3 3.3-3.3h3.4c1.8 0 3.3 1.5 3.3 3.3v.6a8 8 0 0 1-5 1.8ZM2 12a10 10 0 1 1 10 10A10 10 0 0 1 2 12Zm10-5a3.3 3.3 0 0 0-3.3 3.3c0 1.7 1.5 3.2 3.3 3.2 1.8 0 3.3-1.5 3.3-3.3C15.3 8.6 13.8 7 12 7Z"
          clip-rule="evenodd"
        />
      </svg>
        {% endif %}

        <p>{{ request.user.get_full_name }}</p>
      </div>
      <textarea
        placeholder="Ecrivez votre reponse ici..."
        name="reply_content"
        id="new_comment"
        cols="30"
        autofocus
      ></textarea>
      <div class="add_comment_div_bottom">
        <button type="submit">
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill="currentColor"
                  d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                ></path>
              </svg>
            </div>
          </div>
          <span>Envoyer</span>
        </button>
      </div>
    </form>
  </div>
</div>
