{% extends "base.html" %}
{% load static %}
{% load myfilter %}

{% block meta %}

<meta property="og:title" content="Post: {{ post.title }}" />
<meta name="description" content="{{ post.subtitle }}" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ post.illustration_image.url }}" />
<meta property="og:image:alt" content="Image de : {{ post.title }}" />

{% endblock meta %}


{% block content %}
<link rel="stylesheet" href="{% static 'blog/details.css' %}">

<main class="post-main">
    <ul class="uk-breadcrumb blog-navigation">
        <li><a href="{% url 'blog:index' %}">Blog</a></li>
        {% if post.category %}
        <li><a href="{% url 'blog:index' %}?category_id={{ post.category.id}}">{{ post.category.name }}</a></li>
        <li class="post-title-breadcrumb"><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></li>
        {% else %}
        <li><a href="{% url 'blog:index' %}">Toutes les catégories</a></li>
        {% endif %}
    </ul>
    <div class="post-head-div">
        <div class="post-head-div-first-line">
            Catégorie
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                fill="var(--second-color1)" viewBox="0 0 24 24">
                <path stroke="var(--color3)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 12H5m14 0-4 4m4-4-4-4" />
            </svg>
            <h2>{{ post.category.name }}</h2>

        </div>
        <h1>{{ post.title }}</h1>

        <div class="card-post-site-logo">
            <img class="post-site-logo" src="{% static 'images/logo_site_vie_reussie.jpeg' %}"
                alt="logo site vie de réussite">
            <div class="card-post-site-autor-date">
                <h3>Dr. Tara Bolda</h3>
                <p><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
                    <path stroke="var(--color3)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"/>
                  </svg>
                  {{ post.created_at }}</p>
                <p><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
                    <path stroke="var(--color3)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>
                  5 Minutes de lecture environ</p>

            </div>
        </div>
    </div>
    <div class="post-main-div">
        <section class="middle-section">
            <div class="one-post-card-content-div">
                {% if post.illustration_image %}
                <a href="{{ post.illustration_image.url }}">
                    <!-- <div class="one-post-card-img" style="background-image: url('{{ post.illustration_image.url }}');">
                    </div> -->
                    <img src="{{ post.illustration_image.url }}" alt="">
                </a>
                {% else %}
                <div class="one-post-card-empty-img"></div>
                {% endif %}
                <div class="one-post-card-bottom-div">
                    <p>
                        {{ post.content|safe }}
                    </p>
                </div>

            </div>
            {% include "ebook/bottom_ebook_cards.html" %}

        </section>
        <section class="right-section">
            <section class="left-section">
                <h4>Posts simillaires</h4>
                <div class="semi-line"></div>
                <ul>
                    {% for category_post in related_post_category %}
                    <li><a href="{% url 'blog:detail' category_post.id %}">{{ category_post.title }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            <hr>
            {% include "blog/right_side_bar.html" %}

        </section>
    </div>
</main>




{% endblock %}