{% extends "base.html" %}
{% load static %}
{% load myfilter %}

{% block content %}
<link rel="stylesheet" href="{% static 'blog/details.css' %}">

<main class="post-main">
    <ul class="uk-breadcrumb blog-navigation">
        <li><a href="{% url 'blog:index' %}">Blog</a></li>
        {% if post.category %}
        <li><a href="{% url 'blog:index' %}?category_id={{ post.category.id}}">{{ post.category.name }}</a></li>
        <li><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></li>
        {% else %}
        <li><a href="{% url 'blog:index' %}">Toutes les catégories</a></li>
        {% endif %}
    </ul>

    <div class="post-main-div">
        <section class="left-section">
            <h4>Posts simillaires</h4>
            <div class="semi-line"></div>
            <ul>
                {% for category_post in related_post_category %}
                <li><a href="{% url 'blog:detail' category_post.id %}">{{ category_post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section class="middle-section">
            <h1>{{ post.title }}</h1>
            <div class="one-post-card-content-div">
                {% if post.illustration_image %}
                <div class="one-post-card-img" style="background-image: url('{{ post.illustration_image.url }}');">
                </div>
                {% else %}
                <div class="one-post-card-empty-img"></div>
                {% endif %}
                <div class="one-post-card-bottom-div">
                    <p>
                        {{ post.content|safe }}
                    </p>
                </div>

            </div>
            {% include "ebook/bottom_ebook_cards.html" %}

        </section>
        <section class="right-section">
            {% include "blog/right_side_bar.html" %}

        </section>

    </div>
</main>




{% endblock %}