{% load static %}

<link rel="stylesheet" href="{% static 'blog/right_side_bar.css' %}">

<p>
    Investissez en vous-même et devenez la meilleure version de vous-même avec notre coaching et développement
    personnel.
</p>
<a style="--clr: #7808d0" class="reserve-coaching-button" href="#appointment-modal-overflow" uk-toggle>
    <span class="button__icon-wrapper">
        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
            <path fill="currentColor"
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
            </path>
        </svg>


        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none"
            viewBox="0 0 14 15">
            <path fill="currentColor"
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
            </path>
        </svg>
    </span>
    Reserver mon coaching
</a>

<div class="pub-formation">
    {% if formations %}
    <p class="pub-formation-text">Découvrez nos differentes formations sur le coaching et le developpement personnel</p>
    <div class="mini-formation-div">
        {% for formation in formations %}
        <div class="one-mini-formation-div">
            <div class="mini-formation-img" style="background-image: url('{{ formation.illustration_image.url }}');">
            </div>
            <div class="mini-formation-bottom">
                <h3>{{ formation.title }}</h3><a href="{% url 'formation:detail' formation.id %}">En savoir plus</a>
            </div>
        </div>
        {% empty %}
    {% endfor %}

    </div>
    <a href="{% url 'formation:index' %}" class="more-formation-btn" >Voir plus de formations</a>
    {% endif %}
</div>