{% load static %}

<link rel="stylesheet" href="{% static 'core/site_videos.css' %}">

{% if site_videos %}
<div class="sup-list-video-site">
    <h2>NOS DERNIÈRES VIDÉOS</h2>
    <div class="list-video-site">
        {% for video in site_videos %}
        <div class="mini-video-frame">
            <iframe class="ebook-illustration_video" src="https://www.youtube.com/embed/{{ video.video }}"
                uk-video="autoplay: false"></iframe>
        </div>
        {% endfor %}
    </div>
    <a class="follow-on-yt-btn" href="https://youtube.com/@dr.tarabolda-viereussie-u7i?si=UUGQwOa7GYm5PGiy">
        <div class="show-on-hover">
            <span class="icon">
                <svg fill="none" height="55" viewBox="0 0 120 120" width="55"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="show-on-hover-first-path" d="m120 60c0 33.1371-26.8629 60-60 60s-60-26.8629-60-60 26.8629-60 60-60 60 26.8629 60 60z"
                        fill="#cd201f"></path>
                    <path class="show-on-hover-second-path"
                        d="m25 49c0-7.732 6.268-14 14-14h42c7.732 0 14 6.268 14 14v22c0 7.732-6.268 14-14 14h-42c-7.732 0-14-6.268-14-14z"
                        fill="#fff"></path>
                    <path class="show-on-hover-third-path" d="m74 59.5-21 10.8253v-21.6506z" fill="#cd201f"></path>
                </svg></span>
            <span class="yt-followers-count">1,2k+ d'abonné(s)</span>
        </div>
        <span class="text1">S'abonner sur notre chaine</span>
    </a>
</div>
{% endif %}

