

.sup-list-video-site h2 {
    font-weight: bold;
    font-size: 60px;

}

.list-video-site {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    /* width: 100%; */
  /* background-color: red; */
  /* padding: 10px; */
}

.mini-video-frame {
    display: inline;
    margin: 10px;
}

.mini-video-frame iframe {
    height: 250px;
    width: 400px;
    border-radius: 5px;
}




.follow-on-yt-btn {
    position: relative;
    width: 300px;
    height: 55px;
    line-height: 55px;
    border-radius: 50px;
    background-color: white;
    border: 2px #cd201f solid;
    display: block;
    margin: auto;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    transition: all 0.5s ease;
    
  }
  

.show-on-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.5s ease;
    background-color: #cd201f;
    border-radius: 50px;
    width: 55px;
    overflow-x: hidden;
    height: 100%;

  }


  .follow-on-yt-btn:hover {
    text-decoration: none;
    color: black;
    scale: 1.02;
    transition: all 0.5s ease;

  }

  .follow-on-yt-btn:hover .show-on-hover {
    width: 100%;
    transition: all 0.5s ease;

  }

 .yt-followers-count {
    display: none;
    transition: 0.3s all ease-in 0.2s;


  }




  .follow-on-yt-btn:hover .yt-followers-count {
    display: inline;
    transition: 0.3s all ease-in 0.2s;

  }




  @media screen and (max-width: 901px) {

    .list-video-site {
      flex-direction: column;
    }

    .mini-video-frame iframe {
      width: 95%;
  }

  .follow-on-yt-btn {
    background-color: #cd201f;
    color: white;
  }

  .show-on-hover-first-path {
    fill: white;
  }

  .show-on-hover-second-path {
    fill: #cd201f;
  }


  .show-on-hover-third-path {
    fill: white;
  }

  .show-on-hover {
    border-radius: 50%;

  }


  }