

.main-div {
    padding: 40px;
}

h1 {
    color: var(--second-color1);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 3px;
}

hr {
    background-color: yellow;
}

.no-formation-p {
    background-color: white;
    display: inline-flex;
    gap: 20px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px, rgba(0, 0, 0, 0.2) -1px -1px 3px;
    align-items: center;
}

.one-formation-card {
    background-color: white;
    display: inline-flex;
    align-items: stretch;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px, rgba(0, 0, 0, 0.2) -1px -1px 3px;
    flex-direction: column;
    transition: 0.3s all ease;
    margin-bottom: 30px;
    margin-right: 20px;

}

.one-formation-card h4 {
    font-weight: bold;
}

.one-formation-card:hover {
    scale: 1.005;
    transition: 0.3s all ease;

}

.one-formation-card-header {
    padding: 40px;

}

.formation-info-line {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.one-formation-card > a {
    background-color: var(--second-color2);
    padding: 10px 40px;
    display: block;
    color: white;
    display: flex;
    justify-content: space-between;
    transition: 0.3s all ease;
}

.one-formation-card > a:hover {
    background-color: var(--second-color1);
    text-decoration: none;
    transition: 0.3s all ease;

}


.profil-consult-other-ebook {
    border: 1px solid var(--second-color1);
    border-radius: 40px;
    padding: 10px 30px;
    color: var(--second-color1);
    background-color: white;
}


.profil-consult-other-ebook:hover {
    text-decoration: none;
}

.profil-consult-other-ebook svg {
    transition: 0.3s all ease;

}

.profil-consult-other-ebook:hover svg {
    transform: translateX(5px);
    transition: 0.3s all ease;
}



@media screen and (max-width: 901px) {

h1 {
    font-size: 15px;

}

.no-formation-p {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.one-formation-card {

    margin: auto;
    margin-bottom: 30px;
    width: 100%;
}



.one-formation-card-header {
    padding: 10px;
    text-align: center;


}

.one-formation-card h4 {
    font-size: 15px;
}

.one-formation-card > a {
    padding: 10px 10px;

}

.main-div hr {
    display: none;
}



.formation-info-line span {
    display: flex;
    flex-direction: column;
}

}