


.events-banner {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0px 0px, 100% 0px, 100% 90%, 50% 100%, 0px 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-banner h2 {
    color: var(--color4);
    color: white;
    width: 60%;
    font-weight: bold;
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, 1) 3px 10px 5px;
    text-align: center;
}


.star-div {
    display: flex;
    justify-content: center;
}

.events-ul {
    list-style: none;
    padding: 50px 10%;
}

.events-ul > a:hover {
    text-decoration: none;

}

.one-event-li {
    height: 200px;
    display: flex;
    align-items: center;
    margin: 5px 0px;
    gap: 20px;
    box-sizing: border-box;
    transition: 0.3s all ease;

}


.one-event-li:hover {
    scale: 1.01;
    transition: 0.3s all ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

.one-event-li:hover button {
    cursor: pointer;
}

.event-odd {
    flex-direction: row;
    background-color: var(--second-color1);
    color: white;

}

.event-even {
    flex-direction: row-reverse;
}

.event-img {
    height: 100%;
    width: 300px;
    background-position: center;
    background-size: cover;
}


.event-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    box-sizing: border-box;
}

.event-description h2 {
    font-weight: bold;
    margin: 0px;

}

.event-description p {
    margin: 0px;
    justify-self: flex-end;
    align-self: flex-end;
}

.event-last-line {
    display: flex;
    align-items: center;
    gap: 10px;
}

.event-description button {
    padding: 5px 25px;
    border-radius: 15px;
    border: none;

}



.event-odd .event-description h2 {
    color: white;
}


.event-last-line p {
    background-color: rgba(255, 234, 133, 0.2);
    border-radius: 20px;
    padding: 2px 5px;
    font-size: 15px;
}

.event-even .event-description button {
    color: white;
    background-color: var(--second-color1);
}

.event-even .event-description h2 {
    color: var(--second-color1);
}

.event-even .event-description > p {
    color: rgba(0, 0, 0, 0.5);
    display: inline;
}



@media screen and (max-width: 901px) {

.events-banner {
height: 250px;
}

.events-banner h2 {
    font-size: 20px;
}


.star-div {
    scale: 0.7;
}

.events-ul {
    list-style: none;
    padding: 10px 5%;
}

.one-event-li {
    flex-direction: column;
    height: auto;
    gap: 5px;
}

.event-img {
    height: 300px;
    width: 100%;
}

.event-description {
    padding: 10px;
}

.event-description h2 {
    padding: 0px;
    margin: 0px;
}

.event-description p {
    margin: 5px 0px;

}

}