


.header-right-div {
    /* background-color: blue; */
    display: flex !important;
    gap: 20px;
    align-items: center;
    /* background-color: red; */
    padding: 0px 20px;
    background-color: var(--second-color1);
    margin: 3px 0px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    /* height: 100%; */
    box-sizing: border-box;
}

.user_profil_image {
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
}

.user_profil_image:hover {
    cursor: pointer;
}

.header-right-div > p {
    padding: 0px;
    margin: 0px;
    color: var(--color3);
}

.header-right-div svg:hover {
    cursor: pointer;
}


@media screen and (max-width: 901px) {

.header-right-div {
    background-color: transparent;
    gap: 10px;
    padding: 0px;
}

.user_profil_image {
    scale: 0.95;
}
.header-right-div svg {
    scale: 0.8;
}

.header-right-div p {
    display: none;
}

}