
#appointment-modal-overflow {
  /* background-color: var(--second-color4); */
  /* background-color: rgba(255, 197, 27, 0.1); */
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    /* background-color: rgba(17, 25, 40, 0.25); */
    /* border-radius: 12px; */
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.uk-modal-dialog {
  border-radius: 10px;
  overflow: hidden;
}

.uk-modal-header, .uk-modal-footer {
  background-color: var(--second-color1);
}

.uk-modal-header h2 {
  color: white;
  margin: 0px;

}

#appointment-modal-overflow .my-container {
    position: relative;
    /* max-width: 500px; */
    /* width: 100%; */
    /* background: #FCEDDA; */
    /* padding: 25px 0px; */
    border-radius: 8px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  }
  
  #appointment-modal-overflow .my-container header {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    text-align: center;
  }
  
  #appointment-modal-overflow .my-container .form {
    /* margin-top: 5px; */
    /* background-color: red; */
  }
  
  .form .input-box {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
  }
  
  .input-box label {
    color: #000;
  }
  
  .form :where(.input-box input, .input-box textarea, .select-box select) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    /* color: #808080; */
    margin-top: 5px;
    box-sizing: border-box;
    /* border: 1px solid var(--second-color1); */
    border: none;
    border-radius: 6px;
    padding: 5px;
    /* padding: 0 15px; */
    background: rgba(4, 52, 77, 0.2);
  }

  .contry-city-div {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    /* background-color: red; */
    padding: 0px !important;
    margin-top: 5px;
  }

  .contry-city-div input {
    flex: 1;
    margin: 0px;
    /* padding: 0px; */
  }

  .contry-city-div .select-box {
    flex: 1;
    margin: 0px;
    /* padding: 0px; */

  }

 .select-box select {
    margin: 0px;
    /* padding: 0px; */
  }
  
  .form .input-box textarea {
    height: 135px;

  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .form .column {
    display: flex;
    column-gap: 15px;
  }
  
  .form .gender-box {
    margin-top: 10px;
    color: black;
  }
  
  .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }
  
  .form .gender {
    column-gap: 5px;
  }
  
  .gender input {
    accent-color: var(--second-color1);
  }
  
  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }
  
  .gender label {
    color: #000;
  }
  
  .address :where(input, .select-box) {
    margin-top: 10px;
  }
  
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    /* color: #808080; */
    font-size: 1rem;
    /* background: #FCEDDA; */
  }
  
  .form button {
    height: 40px;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: var(--second-color1);
    color: white;
  }
  
  .form button:hover {
    background: var(--second-color2);
  }

  .cancel-button {
    color: white;
  }

  .cancel-button:hover {
    color: var(--second-color3);
  }



  @media screen and (max-width: 901px) {


    .uk-modal-header h2 {
      font-size: 20px !important;
    
    }

  .form .column {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  }