
.main-content {
    padding: 30px 20%;
    background-color: rgba(4, 52, 77, 0.1);
}

.main-content article {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border-top: 15px solid var(--second-color4);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2);

}


.super-h1 {
    font-weight: bold;
    /* font-size: ; */
}

.main-content article h1 {
    color: var(--second-color1);
}

.main-content article h2 {
    color: var(--color3);
}



@media screen and (max-width: 901px) {
    .main-content {
        padding: 30px 3%;
    }

}