{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/legal_mention.css' %}">
<section class="main-content">
    <article>
        <h1 class="super-h1">Mentions Légales</h1>
        <hr>
        <h1>Présentation</h1>
        <b>Propriétaire du site :</b> Dr. Tara Bolda
        <br>
        <b> Adresse :</b> 
        Yaoundé Cameroun
        <br>
        <b>URL du site :</b> https://www.tarabolda.com/
        <br>
        <b>Domaine d’activité :</b> Plateforme de Coaching et de Développement Personnel

        <h1>Création du site</h1>
        Le site est développé par <b>Ramiro Kaffo</b>, Professionel Concepteur de sites Web de haute qualité.

        <h1>Hébergement</h1>
        <h2>Serveur</h2>
        PythonAnywhere LLP
        <br>
        UK VAT No.: 893564379
        <br>
        EU VAT No.: EU372015865
        <br>
        Registered in England and Wales as company number OC378414.
        <br>
        Registered address: 5 The Green, Richmond, TW9 1PL, UK

        <h2>Nom de domaine</h2>
        GoDaddy Operating Company, LLC. 
        <br>
        100 S Mill Ave, Suite 1600, Tempe, AZ 85281 USA.        


        <h1>Marque déposée, copyrights</h1>
        Le site internet https://www.tarabolda.com/ et chacun de ses éléments sont la propriété exclusive du <b>Dr. Tara Bolda</b>. Ils sont protégés par le code de la propriété intellectuelle. Ceux-ci comprennent, mais n’y sont
        pas limités : fichiers, audios et vidéos, textes et illustrations. Leur reproduction, modification, traduction et/ou
        adaptation, en tout ou partie, pour tout usage autre qu’un usage privé est strictement interdit, sous peine de
        poursuites conformément aux dispositions des articles L335-2 et suivants du Code de la propriété intellectuelle.

        <h1>Obligation du visiteur</h1>
En visitant le site tarabolda.com, vous vous engagez à avoir lu, compris et approuvé les conditions générales d’utilisation et vous vous y obligez.
<br>
<br>
Le visiteur doit avoir conscience que le contenu d’tarabolda.com est strictement distribué à titre informatif. La responsabilité de la Société ou des auteurs du contenu ne pourra être engagée, de quelque manière que ce soit sur la base des informations diffusée sur le Site.
<br>
<br>

En réservant un atelier coaching ou un produit, le client s’engage à fournir tous les documents qui lui seront demandés dans le cadre de la procédure administrative mais également commerciale, dans le respect de la vie privée. Ainsi, dans un souci d’efficacité nous sommes en droit de vous demander certaines pièces (liste non exhaustive : photos, description).

<h1>Responsabilité</h1>
Le Site, les articles en consultation gratuite, les produits et son coach ou ses coachs le cas échéant, tant dans le processus de vente en ligne que lors des coachings, ne sont pas tenus par une obligation de résultat; aucune responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation des conseils prodigués ou du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires.
    </article>
</section>
{% endblock content %}