@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  font-family: "Poppins", sans-serif;
  /* background-color: red;
  padding: 20px; */
}

.main-faq {
    /* background-color: red; */
    padding: 40px 10%;
}

.faq-head-div {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  /* border-radius: 20px; */
  padding: 20px 0px;
  gap: 20px;
  border-right: 10px solid var(--second-color2);
  border: 1px solid var(--second-color2);
  /* background-color: var(--color4); */
}

.faq-head-div hr {
  background-color: var(--second-color1);
  color: var(--second-color1);
  fill: var(--second-color1);
}

.main-faq h2 {
  font-size: 40px;
  color: var(--second-color1);
  font-weight: bold;
}



.main-faq div.c{
  position: relative;
  transition: 0.5s all ease;
}
.main-faq input{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: 0;
  transition: 0.5s all ease;

}
.main-faq h1{
  background:var(--second-color2);
  color:white;
  padding:1em;
  position: relative;
  border: 2px solid black;
  border-radius: 3px;
}
.main-faq label::before{
  content:"";
  display: inline-block;
  border: 15px solid transparent;
  border-left:20px solid white;
}
.main-faq label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
.main-faq div.p{
  max-height:0px;
  overflow: hidden;
  transition:max-height 0.5s;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.main-faq div.p p {
  padding:2em;
  /* padding: 20px; */

}
.main-faq input:checked ~ h1 label::before{
  border-left:15px solid transparent;
  border-top:20px solid white;
  margin-top:12px;
  margin-right:10px;

}
.main-faq input:checked ~ h1 ~ div.p{
  max-height: max-content;

}
.main-faq a{
  color:steelblue;
}




@media screen and (max-width: 901px) {

.faq-head-div {
  padding: 10px 0px;
  margin-bottom: 20px;
}

.main-faq div.c{
 
padding: 0px !important;
margin: 0px;
box-sizing: border-box;
}


  .faq-head-div h2 {
    font-size: 15px;
  }

  .faq-head-div p {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;

  }


.main-faq h1{
  font-size: 20px;
  padding: 7px;
  margin: 8px 0px;

}


.main-faq div.p p {
  padding: 10px;
  margin: 0px;
}

}